<div class="container mt-5">
    <button type="button" class="btn btn-success btn-block" (click)="openModal(configGrammar)">Configure Grammar</button>
</div>

<ng-template #configGrammar>
    <!-- Title -->
    <div class="modal-header">
        <h4 class="modal-title pull-left">Configuration</h4>
        <!-- The x that closes the modal -->
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container row vertical-divider">
            <div class="col-6">
                <label for="config-grammar-text-area"><h3>Input:</h3></label>
                <textarea class="form-control" id="config-grammar-text-area" rows="6" (input)="parse($event.target.value)"></textarea>
            </div>
            <div class="col-6">
                <h3>Parsed:</h3>
                <hr/>
                <h5>Entrypoint: {{ grammarService.getEntryPoint() }}</h5>
                <hr/>
                <div>
                    <h5>Alphabet: </h5>
                    <h5 style="font-size: 20px;" [innerHTML]="grammarService.getAlphabet()"></h5>
                </div>
                <hr/>
                <div>
                    <h5>Non-termninals: </h5>
                    <h5 [innerHTML]="grammarService.getNonTerminals()"></h5>
                </div>
                <hr/>
                <div>
                    <h5>Rules:</h5>
                    <h5 [innerHTML]="grammarService.getRules()"></h5>
                </div>
            </div>
        </div>
    </div>
</ng-template>