<div class="container mt-5">
    <button type="button" class="btn btn-success btn-block" (click)="openModal(configGrammar)">Configure Grammar</button>
</div>

<ng-template #configGrammar>
    <!-- Title -->
    <div class="modal-header">
        <h4 class="modal-title pull-left">Configuration</h4>
        <!-- The x that closes the modal -->
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container row vertical-divider">
            <div class="col-6">
                <label for="config-grammar-text-area"><h3>Input:</h3></label>
                <textarea class="form-control" id="config-grammar-text-area" rows="6"></textarea>
            </div>
            <div class="col-6">
                <h3>Parsed:</h3>
                <h5>Entrypoint:</h5>
                <h5>Alphabet: &#x0007B;&#x0007D;</h5>
                <h5>Non-termninals: &#x0007B;&#x0007D;</h5>
                <h5>Rules:</h5>
            </div>
        </div>
    </div>
</ng-template>